<div class="displaydata">
    <h2>Display Todos</h2>
        <button (click)="generateall()">Get All</button>
        <div>
            <h2>Search Data by ID</h2>
            <label for="value1">ID:</label>
            <input type="number" id="value1" [(ngModel)]="value1" />
            <button (click)="getbyid()">Get Data</button>
            <div *ngIf="selectitem">
              <h3>Selected Todo:</h3>
              <p>ID: {{ selectitem.id }}</p>
              <p>Title: {{ selectitem.title }}</p>
              <p>User ID: {{ selectitem.userId }}</p>
              <p>Completed: {{ selectitem.completed ? 'Yes' : 'No' }}</p>
            </div>
          </div>
    <table>
        <thead>
            <tr>
            <th>ID</th>
                <th>Title</th>
                <th>User ID</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let todo of items">
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.userId }}</td>
                <td>{{ todo.completed }}</td>
            </tr>
        </tbody>
    </table>
</div>
  
 